@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --background: #A59D84;
    --containerColor: #D7D3BF;
    --containerTabs: #ECEBDE;
    --activeTask: #C1BAA1;
}

* {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: var(--background);
}

.container {
    background-color: var(--containerColor);
    width: 80rem;
    height: 40rem;
    border-radius: 50px;
    padding: 5rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 5fr;
    gap: 50px;
    font-family: "Ubuntu", serif;
    box-shadow: 5px 20px 5px -15px rgb(99, 99, 99);
}

.container>*:nth-child(n+2) {
    background-color: var(--containerTabs);
    border-radius: 20px;
}

.container>div:nth-child(3) {
    padding: 1rem;
    max-height: 100%;
    overflow: scroll;
}

li:first-of-type {
    margin-top: 1rem;
}

.tab>img {
    cursor: pointer;
}

.tab>img:active {
    opacity: 0.8;
    transform: translateY(2px);
}

li {
    list-style-type: none;
    padding: 0.3rem 0 0.3rem 1rem;
    margin: 0.2rem 0;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.active {
    background-color: var(--activeTask);
    border-radius: 5px;
}

#taskTabs>li:hover {
    background-color: var(--activeTask);
    border-radius: 5px;
    cursor: pointer;
}

#taskTabs>li:active {
    opacity: 0.7;
    transform: translateY(1px);
}

img {
    width: 1rem;
}

#currentTab>img {
    width: 1.5rem;
}

.tab:nth-child(2) {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    align-content: center;
    justify-self: center;
    font-size: 3rem;
}

.underLogo {
    display: block;
    font-size: 1.3rem;
    text-align: center;
    font-weight: 500;
}

.tab {
    font-size: 1.3rem;
    user-select: none;
}

#currentTab {
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem 0 2rem;
}

#currentTab>div:first-child {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

#currentTab>div:first-child>img {
    width: 1.5rem;
}

#notesContainer {
    font-family: "Indie Flower", serif;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1rem;
    padding: 1.5rem;
    overflow-y: scroll;
}

.note {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 5px;
    max-height: 14rem;
}

#noteTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.5rem 0 0.5rem;
    font-size: 2rem;
    font-weight: bold;
}

#noteContent {
    padding: 0.5rem 1rem 1rem;
    white-space: pre-wrap;
    font-size: 1.4rem;
    overflow-y: scroll;
    flex-grow: 1;
}

.noteDates {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Ubuntu", serif;
    padding: 0 0.5rem 0.5rem 0.5rem;
}

.noteDates>div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}

.lowPrio {
    background-color: green;
}

.midPrio {
    background-color: orange;
}

.highPrio {
    background-color: rgb(170, 38, 38);
}

#newNote {
    padding: 1.2rem;
    border: none;
    background-color: var(--activeTask);
    border-radius: 25%;
    cursor: pointer;
}

#newNote>img {
    width: 1.5rem;
    height: 1.5rem;
}

#newNote:active {
    transform: translateY(2px);
}

#newNote:hover,
button[type="submit"]:hover,
.prioSquare:hover,
#exit:hover {
    opacity: 0.8;
}

.categoryModal,
.noteModal {
    background-color: var(--containerColor);
    z-index: 999;
    border-radius: 30px;
    padding: 2rem 2.5rem;
    font-family: "Ubuntu", serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.categoryModal>div:first-child {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.categoryModal input[type="text"],
.noteModal input[type="text"] {
    font-size: 1rem;
    padding: 1rem 0.5rem;
    box-sizing: border-box;
    width: 100%;
    border:none;
    border-radius: 5px;
}

.noteModal input[type="text"]{
    font-size: 1.5rem !important;
}

button[type="submit"] {
    font-size: 1rem;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 1rem 0.5rem;
    cursor: pointer;
    background-color: var(--activeTask);
}

button[type="submit"]:active {
    transform: translateY(2px);
}

.noteModal>div {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.noteModal input {
    width: 100%;
    border: none;
    border-radius: 5px;
    font-family: "Indie Flower", serif;
    font-weight: bold;
}
input[type="date"]{
    font-size: 1.2rem;
}
textarea {
    resize: none;
    padding: 0.2rem;
    font-family: "Indie Flower", serif;
    font-weight: bold;
    font-size: 1.2rem;
}

.noteModal input[type="date"] {
    padding: 0.3rem;
}

.noteModal>div:nth-child(4)>div {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.prioSquare {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.prioSquare:first-child {
    background-color: green;
}

.prioSquare:nth-child(2) {
    background-color: orange;
}

.prioSquare:last-child {
    background-color: rgb(170, 38, 38);
}

.prioSquareSelected {
    border: 1.5px solid black;
}

.noteModal select {
    padding: 0.3rem;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 998;
}

.number {
    background-color: var(--activeTask);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}
.none {
    display: none;
}


#error{
    display: none;
}

.error{
    color:red;
    font-weight: bold;
    font-size: 0.8rem;   
    display: block !important;
}